@charset "UTF-8";
@import './base.css';
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');


.font-inter {
  font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter', sans-serif;
font-weight: 900;
}
.font-mona-sans {
  font-family: 'Mona Sans', sans-serif;
}

.hover-slide-up {
  position: relative;
  overflow: hidden;
}

.hover-slide-up > span:first-child {
  display: block;
  transition: transform 0.4s ease;
}

.hover-slide-up:hover > span:first-child {
  transform: translateY(-100%);
}

.hover-slide-up > span:last-child {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  transition: top 0.4s ease;
}

.hover-slide-up:hover > span:last-child {
  top: 0;
}
